body{
	margin: 0px;
	padding: 0px;
	background: url(images/createAcc.jpg) #ccc no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size: cover;
	background-image: all;
	background-size: 100%;
	background-position: cover;
	background-attachment: cover;
}
h1{
	text-align: center;
	font-family: sans-serif;
	color: black;
	text-decoration: underline gold;
}
p{
	font-family: arial;
	font-size: 30px;
}
a{
	font-family: serif;
	font-size: 30px;
	color: silver;
	text-decoration-color: black;
}